<h1> Enter in the name of a new Address Book </h1>

<form action = "/addressbooks" method = "post">
  <div class = "form-group">
    <label id ="address_book_name"> Enter the name of the Address Book </label>
    <input id ="address_book_name" name="address_book_name" class="form-control" type="text">
  </div>
  <button type ="submit" class="btn-success"> Add Address Book</button>
</form>
