<h1>Success. The Address Book has been created!</h1>

<a href='/addressbooks'>See the address book list! </a>
<a href='/addressbooks/new'>Create new address book</a>
<h6><a href='/'>Return to Main page</a> </h6>
